<div class="main-header">
    <h1>Category Form</h1>
</div>

<div class="create-form">
    <form method="POST" action="">
        <% if (category === undefined) { %>
            <input type="text" id="categoryName" name="categoryName" required placeholder="Name" maxlength="200">
            <textarea rows="10" type="text" id="categoryDescription" name="categoryDescription" required placeholder="Description" maxlength="1000"></textarea>
        <% } else { %>
            <input type="text" id="categoryName" name="categoryName" required placeholder="Name" maxlength="200" value="<%- category.name %>">
            <textarea rows="10" type="text" id="categoryDescription" name="categoryDescription" required placeholder="Description" maxlength="1000"><%- category.description %></textarea>
        <% } %>
        <button type="submit">Submit</button>
    </form>
</div>

<% if (errors !== undefined) { %>
    <ul>
        <% errors.forEach(error => { %>
            <li><%= error.msg %></li>
        <% }) %>
    </ul>
<% } %>
